<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @controlgroup.student %>
</p>

<%= link_to 'Edit', edit_controlgroup_path(@controlgroup) %> |
<%= link_to 'Back', controlgroups_path %>
